// Colours
$textcolor: #111;
$linktextcolor: #444;
$backgroundcolor: #fff;

$brandcolor: #fcbe00;
$brandcolor-light: #f3d16c;
$brandcolor-dark: #dba400;
$accentcolor: #faf5f0;

$white: #fff;
$black: #000;
$textcolor-transparent: rgba(17, 17, 17, 0);
