@import "./variables";
.card {
  margin-top: 2rem;
  background-color: $white;
  padding: 25px;
  border-radius: 6px;
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imgcontainer {
  width: content;
  overflow: hidden;
  img {
    max-width: 100%;
    height: auto;
  }
}
.content {
  .title {
    border-bottom: 2px solid $brandcolor;
    margin: 1rem 0;
  }
}

// Desktop & ipad Pro
@media only screen and (min-width: 959px) {
  .card {
    padding: 36px;
    width: 350px;
  }
}
