@import "./_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
html,
body {
  font-family: "Titillium Web", Verdana, sans-serif;
  color: $textcolor;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
Breakpoints
iPadPro: 1224px
tablet: 959px
mobile 569px 
*/

.section-heading {
  margin-bottom: 4rem;
  font-size: 16px;
  letter-spacing: 0.06em;

  span {
    padding-bottom: 5px;
    border-bottom: 2px solid $brandcolor;
  }
}

.title {
  margin-bottom: 2rem;
}

.btn {
  margin-bottom: 2rem;
  padding: 13px 31px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  border-radius: 6px;
  background-color: $brandcolor;
  border: 1px solid $brandcolor;
  font-size: 12px;
  text-align: center;
  margin-right: 1rem;
  &:hover {
    background-color: $white;
  }
  &.outline {
    background-color: $white;
    &:hover {
      background-color: $brandcolor-dark;
      color: $white;
    }
  }
}

.container {
  padding: 80px 36px;
  overflow: hidden;
}

.dark-bg {
  background: $accentcolor;
}

// Desktop
@media only screen and (min-width: 959px) {
  .container {
    padding: 100px 220px;
  }
}
