@import "./variables";

.topnav {
  font-size: 12px;
  height: 51px;
  padding: 0 36px;
  background-color: $accentcolor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    p {
      margin-left: 18px;
      span {
        margin-left: 8px;
      }
    }
  }
}

@media only screen and (max-width: 1224px) {
  .topnav {
    display: none;
  }
}
